body {
    font-family: Arial, sans-serif;
    width: 100%;
    background: url("../Img/bg-img/bg1.jpg"),  rgba(4, 0, 255, 0.515);
   
    
  }
  
  .aboutmain {
    padding: 2%;
    width: 95%;
  }
  
 
  
 .aboutmain div h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: darkblue;
    text-align: left;
  }
  
  .aboutmain div p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .aboutmain div ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .aboutmain div li {
    display: flex;
    margin-bottom: 20px;
  }
  
  .aboutmain div li img {
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: -8px 0px 0px 2px rgb(253, 34, 0);
    width: 230px;
    height: 220px;
    transform: rotateY(20deg);
    transition:filter .3s;
  }

  .aboutmain div li img:hover{
    filter: brightness(105%) contrast(120%);
  }

  #mission a {
    text-decoration: none;
    font-weight: bold;
  }

  #mission div{
    /* display: flex; */
    width: 90%;
    margin-left: 20px;
  }

  #mission p{
    /* width: 700px; */
    /* float: left; */
    text-align: justify;
  }

  #mission1{
    display: flex;
    justify-content: space-between;
  }

    #mission1 img{
      height: 300px;
      padding: 12px;
      margin-left: 100px;
      border-radius: 1rem;
    }
  
  #team{
    align-items: center;
    text-align: center;
  }

  #team-li{
    padding: 20px;
    box-shadow: 0px -9px 16px -7px rgba(10, 104, 255, 0.836);
    background: -webkit-linear-gradient(rgba(10, 104, 255, 0.466), rgba(255, 255, 255, 0.19));
  }
    .qual{
        width: 300px;
        margin: 3px 20px;
    }

        .qual li{
            text-align: left;
        }

     .img-name h3{
      color: rgb(182, 2, 2);
      font-style: italic;
     } 

    .bio{
        text-align: justify;
        width: 80%;
        padding: 7px 18px;
        border-radius: .4rem;
        filter: contrast(130%);
        background: linear-gradient(rgb(247, 246, 246), white, rgba(145, 184, 246, 0.267));
        /* box-shadow: 0px 2px 8px rgb(81, 80, 80); */
    }

    .bio h3{
        text-align: center;
        color:rgb(0, 0, 7);
        font-size: 20px;
    }

        .bio p{
            font-size: 15px;
            font-family: cursive;
            color: rgb(66, 66, 66);
        }


        #history li{
            display: block;
            /* width: max-content; */
            padding: 4px;
            font-size: 18px;
            background:linear-gradient(rgba(2, 138, 183, 0.449),white, white, rgba(0, 0, 255, 0.29));
        }


#values{
    background:-webkit-linear-gradient(top left, rgba(38, 38, 244, 0.4), rgba(72, 224, 219, 0.285), rgba(255, 255, 255, 0.756)), linear-gradient(rgba(244, 247, 245, 0.664), rgba(226, 248, 60, 0.427));
    padding: 30px;
    text-align: justify;
    margin: 0% -1.5%;
}
    .values-img-r{
        float: right;
        height: 380px;
        width: auto;
        margin: 30px;
        border-radius: 1rem;

    }
  

    
 