body{
  margin: 0px;
  padding: 0px;
}
footer {
    background-color: #222222e3;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo-container img {
    max-width: 150px;
  }
  .address-container {
    text-align: left;
    max-width: 200px;
  }
  
  .address-container p {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
  }
  .s-m-cont a img{
    padding-top: 120px;
    width: 30px;
    margin: 10px;
    transition: transform .2s;

  }
  
  .s-m-cont a img:hover {
    transform: translateY(-4px) scale(1.1);
  }
  

  .subscribe {
    display: flex;
    align-items: center;
  }
  
  .subscribe form {
    display: flex;
    align-items: center;
  }
  
  .subscribe input[type="email"] {
    border: none;
    border-radius: 1.7rem 0 0 1.7rem;
    padding: 10px;
    width: 200px;
    font-size: 16px;
  }
  
  .subscribe button[type="submit"] {
    border: none;
    border-radius: 0px;
    padding: 10px;
    background-color: #033b72;
    border:1px solid #033b72;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .subscribe button[type="submit"]:hover {
    background-color: #ffffff;
    color: darkblue;
    border: 1px solid black;
  }
  


  






