header{
    display: flex;
    justify-content: space-evenly;
    background:-webkit-linear-gradient(100deg,rgba(38, 142, 238, 0.922), rgba(66, 164, 159, 0.789),rgba(38, 142, 238, 0.922));
    height: 90px;
    box-shadow: 10px 0px 12px black;
    font-family: Arial, Helvetica, sans-serif;

}

    .left-h{
        margin: -40px 0px 0px -40px;

    }


        .brand-logo{
            height: 170px;
            filter: contrast(121) drop-shadow(4px 4px 1px  red) drop-shadow(5px 5px 1px black);
            /* text-shadow: 1px 1px 3px black;
            box-shadow: 2px 2px 12px 12px black; */

        }
    



    
                    /* search bar 
                */


                .searchbar{
                    text-align: center;
                    margin: 20px 100px;
                }

                    .searchbar input{
                        height: 43px;
                        border-radius: 2rem 0rem 0rem 2rem;
                        border:2px solid var(--col-3);
                        width: 270px;
                        padding-left: 20px;
                        background-color: rgb(237, 235, 235);
                        border:none;
                        transition: background-color .3s;
                        /* box-shadow: 0px 2px 9px 1px black; */
                    }

                    .searchbar input:hover{
                        background-color: white;
                    }

                    .searchbar button{
                        box-shadow: 0px 2px 19px -3px black;

                        margin-left: -3px;
                        height:45px;
                        width: 100px;
                        border:1px solid rgb(5, 0, 10);
                        border-radius: 0px 2rem 2rem 0px;
                        color: var(--col-4);
                        font-weight: bold;
                        text-transform: uppercase;
                        background-color: rgb(8, 121, 202);
                        transition: color .3s, background-color .3s;

                    }

                    .searchbar button:hover{
                        color:blue;
                        background-color: white;
                        box-shadow: none;
                    }





    .right-h{
        text-transform: uppercase;

    }

    .expand{
        align-items: center;
        line-height: 85px;
        display: none;
        margin: 10px;
    }

        /* .right-h nav{

        }

            .right-h nav ul{
                
            } */

                .right-h nav ul li{
                    display: inline-block;
                    line-height: 60px;
                    margin: 0px 15px 0px 15px;
                    /* position: relative; */
                    float: left;
                    /* align-items:flex-start; */


                }

                    ul li a{
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                        font-weight: bold;
                        transition: color .2s, text-shadow .4s;
                    }

                    ul li a:hover{
                        color:rgb(3, 39, 82);
                        text-shadow: 1px 0px 1px rgb(247, 243, 243);
                    }

                    ul li a:active{
                        color: red;
                    }

                    #sublist{
                        display: none;
                        flex-direction: column;
                        position: relative;
                        padding-inline-start: 10px;
                        margin-right: -40px;
                        border-radius: 1rem;
                        background-color: white;
                        
                    }
                    ul li:hover #sublist{
                        display: flex;
                        
                    }



                    #sublist li{
                        display: inline-block;
                        /* color:yellow; */
                        /* background-color: rgba(255, 255, 255, 0.518); */
                        padding-inline-start: 0px;
                        margin: 0px;
                        padding:0px 5px 0px 10px;
                    }

                    #sublist li a{
                        color: black;
                    }

                    #sublist li{
                        border-radius: 1rem;
                    }

                    #sublist li:hover{
                        color: white;
                        background:-webkit-linear-gradient(left, white , rgb(24, 166, 232));
                    }

                    


