:root{
	--col-1:#222831;
	--col-2:#393e46;
	--col-3:#d65a31;
	--col-4:#eeeeee;
	
	--bcol-1:#222831c2;
	--bcol-2:#393e46bb;
	--bcol-3:#d65a31cc;
	--bcol-4:#eeeeeec5;

	 
}



body{
	background: url("../Img/bg-img/bg1.jpg");
	background-attachment: fixed;
	background-size: 1500px 1000px;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;

}

.main{
	background-color: rgba(247, 247, 247, 0.592);
	margin: 0px;
	/* height: 900px; */
	font-family: Arial, Helvetica, sans-serif;

}


	.heading-aws{
		padding-top: 30px;
		color: rgb(8, 63, 141);
		text-align: center;
		text-transform: uppercase;
		font-size: 38px;
		letter-spacing: 7px;
		/* filter: drop-shadow(0px 3px 2px black) drop-shadow(2px 2px rgb(20, 14, 143)) drop-shadow(-3px 0px 4px black); */
		font-family: 'Times New Roman', Times, serif;
		/* text-shadow:1px 0px 0px rgb(8, 107, 76), -1px 0px 0px rgb(0, 3, 17), 0px 1px 0px rgb(17, 1, 1), 0px -1px 0px rgb(64, 13, 153), 2px 0px 0px black  ; */
	}

	.heading-aws1{
		color: rgb(1, 71, 146);
		text-align: center;
		text-transform: uppercase;
		font-size: 38px;
		letter-spacing: 3px;
		/* filter: drop-shadow(0px 3px 2px rgb(137, 134, 134)) drop-shadow(2px 2px rgb(87, 7, 157)) drop-shadow(-3px 0px 4px rgb(115, 114, 114)); */
		font-family: 'Times New Roman', Times, serif;
		/* text-shadow:1px 0px 0px red, -1px 0px 0px red, 0px 1px 0px red, 0px -1px 0px red, 2px 0px 0px black  ; */
	}









	/* slider 
	 */

.slider{
	height: 400px;
	text-align: center;
	margin:6% 15%;
	width: 70%;
	display: flex;
}


	.slide{
		position: absolute;
		text-align: center;
		display: block;
		width: 250px;
		border-radius: 1rem;
		background-color: var(--col-4);
		border: .5px solid rgb(170, 169, 169);
		box-shadow: 2px 2px 22px 0px gray;
		opacity:.8;
	}

	

		.off{
			font-family: cursive;
			position: absolute;
			top:20px;
			left:20px;
			font-weight: bold;
			font-size: 22px;
			color: rgb(255, 255, 0);
			text-shadow: 0px 0px 2px black;
		}
		.slide img{
			height:270px;
			width:250px;
			/* margin: 10px; */
			 border-radius: 1rem 1rem 0rem 0rem;
		}

		.name-price{
			display: flex;
			padding: 5px;
			margin-bottom: -22px;
			margin-top: -15px;
			justify-content: space-between;
		}

			.rating-slider{
				font-size: 11px;
				/* margin-left: 15px; */
				margin: 0px 0px 0px 10px;
				padding: 0px;
				text-align: left;
				color: gray;
			}
			.rating-slider span{
				padding-top: -17px;
			}

				.rating-slider img{
					height: 15px;
					width: 70px;
					padding-top: 0px;
				}

			.name-price h4{
				color: rgb(137, 2, 42); 
				font-size: 14px;
			}

		.slidecont{
			font-size: 12px;
			font-style: italic;
			text-align: left;
			margin: 5px;
			color: darkgreen;
			text-shadow: 0px 0px 1px red;
			margin-bottom: 20px;
		}
		.slide:first-child{
			animation: slide1 16s -12s infinite;
			
		}

		.slide:nth-child(2){
			animation: slide1 16s -8s  infinite; 
		}

		.slide:nth-child(3){
			animation: slide1 16s -4s  infinite; 
		}
		.slide:nth-child(4){
			animation: slide1 16s  infinite; 
		}

						@keyframes slide1 {

							0%{
								translate: -4%;
								opacity: .8;

							}
							25%{
								translate:175%;
								opacity: 1;
								transform: scale(1.3);

							} 

							50%{
								translate: 350%;
								opacity:.8;
								transform: scale(1);
							}

							75%{
								/* translate:1800px; */
								opacity:0;
								transform: scale(0);
								translate: 350%;
													

							}

							76%{
								translate: 4%;
							}

							

							
							100%{
								translate: -4%;

								opacity: .8;
							}

							
						}

/* why choose fabrica  */
.second-outer{
	background: url("../Img/bg-img/men-cloths-little-blur.webp");
	padding-top: 30px;
	

}
.second{
	padding: 0px 100px;
	display: flex;
	justify-content: center;
}

	.second-r{
		margin-top: 60px;
	}

	.second-l-0, .second-l-1{
		padding: 18px;
		background-color: #f5f8ffcc;
		color: rgb(11, 0, 0);
		margin: 20px 40px 50px 40px;
		width: 450px;
		transition: transform .3s, box-shadow .3s;
		height: 230px;
		border-radius: 1rem;
		text-align: center;
		display: flex;
		align-items: center;
	}

	.second-l-0 p, .second-l-1 p{
		text-align: justify;
		margin-left: 10px;
		text-shadow: 0px 0px 3px wh;
		font-size: 17px;
	}
	.second-l-0 h3, .second-l-1 h3{
		text-align: justify;
		margin-left: 10px;
		font-family: 'Times New Roman', Times, serif;
		color: rgb(157, 3, 3);
		/* text-shadow: 0px 0px 3px white; */
		font-size: 25px;
	}

	.second-l-0:hover, .second-l-1:hover{
		transform: scale(1.04);
		background-color: white;
		box-shadow: 0px 0px 29px 4px rgb(91, 90, 90);
	}

	
/* third  */


.third{
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

	.third-ticket{
		border:15px solid rgb(26, 0, 0);
		margin: 0px .5px;
		position: relative;
		overflow: hidden;
	}

		.third-ticket img{
			height: 100%;
			width: 100%;
		}

		.name-third{
			position: absolute;
			/* margin-top: 220px; */
			height: 100%;
			background-color: #a81f0098;
			width: 100%;
			/* display: none; */
			transform: translateY(102%);
			align-items: center;
			text-align: center;
			transition: transform .7s;


		}

		.third-ticket:hover div{
			transform: translateY(0%);
		}

		.name-third p{
			align-items: center;
			margin-top: 48%;
			font-size: 2.3vw;
			color:white;
		}


	/* footer  */

	  @media screen and (max-width:1100px) {
		.slider{
			transform: scale(.5);
			margin-left: 0px;
		}

		.second, .second-r, .second-l{
			display: block;
			margin: auto;
			padding: auto;
		}

		.right-h{
			display: flex;
			flex-direction: column;
			width: 400px;
			height: 500px;
			background:-webkit-linear-gradient(left, white, blue);


		}



		.expand{
			display: block;
		}

		.expand:hover .right-h{
			display: flex;
		}

		.right-h nav ul li{
			float: none;
			line-break: strict;
		}


		
	  }