
.login{
    width: max-content;
    height: max-content;
    box-shadow: 1px -1px 14px 2px rgba(151, 150, 150, 0.758), -8px -0px 0px 0px red;
    align-items: center;
    margin:150px 500px;
    background-color: rgba(255, 255, 255, 0.796);
    border-radius: 2rem;
    /* box-shadow: ; */
}

table{
    padding: 30px;
}

    .login-left{
        text-align: left;
        padding: 30px 0px 30px 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 17px;
    }

    .login-right{
        text-align: right;
        padding: 30px 20px;
    }

        .login-right input{
            width: 250px;
            height: 24px;
            box-shadow: -1px -1px 2px 0px gray;
            border: none;
            padding: 5px 10px;
            border-radius: 1rem;
        }

    a{
        padding: 40px 30px;
        font-family: cursive;
        text-decoration: none;
        
    }

    .login-btn{
        padding: 40px 40px;
    }

    button{
        color: white;
        background-color: red;
        width: 110px;
        height: 35px;
        font-size: 17px;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        
    }

    button:hover{
        color: darkred;
        background-color: white;
        border: 1px solid gray;
    }
    



    /* some code for js  */

    .invalidInput::placeholder{
        color: rgb(251, 54, 54);
        font-size: 13px;
        
    }